.stats {
  width: 100%;
  table {
    border: 0px;
    width: calc(100% - 5px);
    margin: 5px;
    background-color: transparent;
    th {
      text-align: left;
      font-size: 20px;
    }
    td {
      text-align: center;
      width: 100%;
      font-size: 14px;
    }
    .input {
      width: 50%;
    }
    .health-value {
      width: 47%;
    }
    .health-max {
      width: 47%;
    }
  }
}
