.morpg.sheet.monster {
  .actions-section {
    height: 100%;
    .actions-content {
      height: 100%;
      border-top: solid black 3px;
      .actions-button {
        font-size: 32px;
        text-align: center;
        background-color: transparent;
        border: none;
        border-bottom: solid black 3px;
        width: 100%;
        margin: 0px;
      }
      .actions-button:hover {
        outline: none;
        box-shadow: 0 0 10px black;
      }
      // .editor {
      //   height: 100%;
      // }
    }
  }
}
