.morpg.sheet.monster {
  .special-section {
    height: 100%;
    .special-content {
      height: 75%;
      .special-header {
        text-align: center;
        border-bottom: solid;
      }
      .editor {
        background-color: lightgray;
        height: 100%;
      }
    }
  }
}
