.morpg.sheet.monster {
  form.actor-sheet {
    display: flex;
    flex-direction: column;
    .sheet-header {
      text-align: center;
    }
    .left-column {
      float: left;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 200px;
      border-style: solid;
      margin-right: 2px;
      img {
        border-bottom: 2px solid black;
        min-height: 261px;
      }
      .utility-buttons {
        display: flex;
        border-top: 2px solid black;
        height: 100%;
        align-items: center;
        .item-new {
          margin: 0px 5px 0px 5px;
        }
        .item-new:hover {
          text-shadow: 0 0 5px black;
        }
      }
    }
    .right-column {
      width: calc(100% - 205px);
      height: 100%;
      display: flex;
      flex-direction: column;
      border-style: solid;
      margin: 0px 0px 0px 2px;
    }
  }
}
