<section class='inventory-item-section'>
  <li class='inventory-content'>
    <p>{{name}}</p>
    <div>
      {{!-- <button
      class='range-button'
      type='button'
    >{{data.data.triggerRange.min}}-{{data.data.triggerRange.max}}</button>
    <p>{{name}}</p> --}}
    </div>
  </li>
</section>