<section>
  <style>
    .row { display: flex; } .column { flex: 50%; padding: 10px; }
  </style>
  <div>
    <table>
      <tr>
        <th>Physical</th>
        <th><input name='' type='' value='' data-dtype='Number' /></th>
      </tr>
      <tr>
        <th>Defense</th>
        <th><input name='' type='' value='' data-dtype='Number' /></th>
      </tr>
      <tr>
        <th>Health</th><th><input
            name=''
            type=''
            value=''
            data-dtype='Number'
          /></th></tr>
      <tr>
        <th>Magic</th><th><input
            name=''
            type=''
            value=''
            data-dtype='Number'
          /></th></tr>
      <tr>
        <th>Resolve</th>
        <th><input name='' type='' value='' data-dtype='Number' /></th>
      </tr>
    </table>
  </div>
</section>