<section class='actions-section'>
  <div class='actions-content'>
    <button class='actions-button' type='button'>{{localize
        config.headers.actions
      }}</button>
    <div class='actions'>

    </div>
  </div>
</section>