<section>
  <style>
    .row { display: flex; } .column { flex: 50%; padding: 10px; }
  </style>
  <div>
    <table>
      {{#each config.monsterStats as |name type|}}
        <tr>
          <th>{{name}}</th>
          <th><input
              name='{{type}}'
              type=''
              value=''
              data-dtype='Number'
            /></th>
        </tr>
      {{/each}}
    </table>
  </div>
</section>