<section>
  <div>
    <h1>{{localize config.headers.actions}}</h1>
    {{editor
      content=data.actions.description
      target='data.actions.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</section>