<div class='actions-content'>
  <button class='actions-button' type='button' title="{{localize 'morpg.sheet.actionButton'}}">{{localize
      config.headers.actions
    }}</button>
  <div class='actions-block item-list'>
  {{#each actor.items}}
    {{#ifEquals type 'Action'}}
      {{> 'systems/morpg/templates/partials/monster-inventory-item.hbs'}}
    {{/ifEquals}}
  {{/each}}
  </div>
</div>