<section class='bullshit-section'>
  <div class='bullshit-content'>
    <button class='bullshit-button' type='button'>{{localize
        config.headers.bullshit
      }}</button>
    {{editor
      content=data.bullshit.description
      target='data.bullshit.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</section>