<div class='special-content'>
  <h3 class='special-header'>{{localize config.headers.special}}</h3>
  <div class='special-block'>
      {{#each actor.items}}
      {{#ifEquals data.type 'Special'}}
        {{> 'systems/morpg/templates/partials/monster-inventory-item.hbs'}}
      {{/ifEquals}}
      {{/each}}
    </div>
</div>