<div class='bullshit-content'>
  <button class='bullshit-button' type='button' title="{{localize 'morpg.sheet.actionButton'}}">{{localize
      config.headers.bullshit
    }}</button>
  <div class='bullshit-block item-list'>
  {{#each actor.items}}
    {{#ifEquals type 'Bullshit'}}
      {{> 'systems/morpg/templates/partials/rogue-inventory-item.hbs'}}
      {{/ifEquals}}
  {{/each}}
  </div>
</div>