<div class='actions-content'>
  <button class='actions-button' type='button' title="{{localize 'morpg.sheet.actionButton'}}">{{localize
      config.headers.actions
    }}</button>
  <div class='actions-block'>
  {{#each actor.items}}
    {{#ifEquals data.type 'Action'}}
      {{> 'systems/morpg/templates/partials/rogue-inventory-item.hbs'}}
      {{/ifEquals}}
  {{/each}}
  </div>
</div>