.morpg.sheet.item {
  form {
    display: flex;
    flex-direction: column;
    .sheet-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      table {
        border: 0px;
        background: none;
        input {
          width: 50px;
        }
      }
      .editor {
        height: 100%;
        background-color: rgba(85, 85, 85, 0.2);
      }
    }
  }
}
