<form class='chat-card action-card' data-owner-id='{{owner}}'>
  <div>
    No Bullshit action for this roll.
  </div>
  <div class='card-type'><span style='font-weight: bold;'>{{actionType}}</span>
    action rolled by
    <span style='font-weight: bold;'>{{actorName}}</span></div>
</form>