<div class='chat-card stat-roll' data-owner-id='{{owner}}'>
  <h2>{{name}}</h2>
  <h3>Stat: {{statName}}</h3>
</div>
<div>
  {{{roll}}}
</div>
{{! Custom }}
{{!-- {{> "systems/morpg/templates/dice/roll.hbs"}} --}}

{{! Default }}
{{!-- {{> "templates/dice/roll.html"}} --}}