<div class='new-item-dialog'>
  <div class='dialog-content'>
    <div class='name'>
      <label>Name</label>
      <input type='text' name='name' placeholder='New Item' required />
    </div>
    <div>
      <div>
        <label>Type</label>
      </div>
      <select>
        <option class='action'>Action</option>
        <option class='bullshit'>Bullshit</option>
        <option class='equipment'>Equipment</option>
        <option class='special'>Special</option>
      </select>
    </div>
  </div>
</div>