@font-face {
  font-family: 'Lato', sans-serif;
  src: url();
}
.app.window-app.dialog.new-item-dialog {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.app.window-app.dialog.new-item-dialog .name {
  display: flex;
  width: 100px;
  vertical-align: middle;
}
.app.window-app.dialog.new-item-dialog .name label {
  margin: 3px 0;
}
.chat-card.action-card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.chat-card.action-card .card-header img {
  margin-right: 5px;
}
.chat-card.action-card .card-header .range,
.chat-card.action-card .card-header .name {
  font-size: 20px;
}
.chat-card.action-card .card-header .range {
  margin-right: 5px;
}
.chat-card.action-card .editor {
  border-top: solid black 2px;
}
.chat-card.action-card .attack-roll {
  border-top: solid black 2px;
}
.chat-card.action-card .attack-roll button {
  text-align: center;
  border: none;
  margin: 5px 0px 5px 0px;
}
.chat-card.action-card .attack-roll button:hover {
  outline: none;
  box-shadow: 0 0 5px black;
}
.chat-card.action-card .card-type {
  border-top: solid black 2px;
}
.morpg.sheet.item form {
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content .details {
  display: flex;
  flex-direction: row;
  border: 0px;
  background-color: transparent;
}
.morpg.sheet.item form .sheet-content .details h3 {
  font-weight: bold;
}
.morpg.sheet.item form .sheet-content .details h3 .label {
  vertical-align: middle;
  width: auto;
  margin-left: 15px;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .details h3 .cooldown-label {
  vertical-align: middle;
  width: auto;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .details h3 .cooldown,
.morpg.sheet.item form .sheet-content .details h3 .triggerRange {
  width: 30px;
}
.morpg.sheet.item form .sheet-content .details h3 .isAttack {
  margin-left: 0px;
}
.morpg.sheet.item form .sheet-content .editor {
  height: 100%;
  background-color: rgba(85, 85, 85, 0.2);
}
.morpg.sheet.item form {
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content .details {
  display: flex;
  flex-direction: row;
  border: 0px;
  background-color: transparent;
}
.morpg.sheet.item form .sheet-content .details h3 {
  font-weight: bold;
}
.morpg.sheet.item form .sheet-content .details .label {
  vertical-align: middle;
  width: auto;
  margin-left: 15px;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .details .type-label {
  vertical-align: middle;
  width: auto;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .details .trigger {
  width: 30px;
}
.morpg.sheet.item form .sheet-content .editor {
  height: 100%;
  background-color: rgba(85, 85, 85, 0.2);
}
.morpg.sheet.item form {
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.morpg.sheet.item form .sheet-content .details {
  display: flex;
  flex-direction: row;
  border: 0px;
  background-color: transparent;
}
.morpg.sheet.item form .sheet-content .details h3 {
  font-weight: bold;
}
.morpg.sheet.item form .sheet-content .details h3 input {
  width: 40px;
}
.morpg.sheet.item form .sheet-content .details .label {
  vertical-align: middle;
  width: auto;
  margin-left: 15px;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .details .quantity-label {
  vertical-align: middle;
  width: auto;
  margin-right: 3px;
}
.morpg.sheet.item form .sheet-content .editor {
  height: 100%;
  background-color: rgba(85, 85, 85, 0.2);
}
.morpg.sheet.rogue {
  background-color: aqua;
}
.morpg.sheet.monster .special-content .special-header {
  font-size: 18px;
  text-align: center;
  border-bottom: solid;
  margin: 0px;
}
.morpg.sheet.monster .special-content .special-block {
  overflow-y: scroll;
  min-height: 100px;
  max-height: 100px;
}
.morpg.sheet.monster .bullshit-content,
.morpg.sheet.monster .actions-content {
  height: 100%;
}
.morpg.sheet.monster .bullshit-content .bullshit-button,
.morpg.sheet.monster .actions-content .bullshit-button,
.morpg.sheet.monster .bullshit-content .actions-button,
.morpg.sheet.monster .actions-content .actions-button {
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  border: none;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  width: 100%;
  margin: 0px;
}
.morpg.sheet.monster .bullshit-content .bullshit-button:hover,
.morpg.sheet.monster .actions-content .bullshit-button:hover,
.morpg.sheet.monster .bullshit-content .actions-button:hover,
.morpg.sheet.monster .actions-content .actions-button:hover {
  outline: none;
  box-shadow: 0 0 10px black;
}
.morpg.sheet.monster .bullshit-content .actions-block,
.morpg.sheet.monster .actions-content .actions-block {
  overflow-y: scroll;
  min-height: 175px;
  max-height: 175px;
}
.morpg.sheet.monster .bullshit-content .bullshit-block,
.morpg.sheet.monster .actions-content .bullshit-block {
  overflow-y: scroll;
  min-height: 100px;
  max-height: 100px;
}
.morpg.sheet.monster .item {
  background-color: #c0c0c0;
  list-style: none;
  padding-left: 0px;
}
.morpg.sheet.monster .item .item-content {
  display: flex;
  margin: 0px;
}
.morpg.sheet.monster .item .item-content .header {
  width: 100%;
}
.morpg.sheet.monster .item .item-content .name {
  width: 70%;
  font-size: 16px;
}
.morpg.sheet.monster form.actor-sheet {
  display: flex;
  flex-direction: column;
}
.morpg.sheet.monster form.actor-sheet .sheet-header {
  text-align: center;
}
.morpg.sheet.monster form.actor-sheet .left-column {
  float: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  border-style: solid;
  margin-right: 2px;
}
.morpg.sheet.monster form.actor-sheet .left-column img {
  border-bottom: 2px solid black;
}
.morpg.sheet.monster form.actor-sheet .left-column .utility-buttons {
  border-top: 2px solid black;
  display: flex;
}
.morpg.sheet.monster form.actor-sheet .left-column .utility-buttons h4,
.morpg.sheet.monster form.actor-sheet .left-column .utility-buttons a {
  margin: 5px 5px 0px 0px;
}
.morpg.sheet.monster form.actor-sheet .right-column {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-left: 2px;
}
.stats {
  width: 100%;
}
.stats table {
  border: 0px;
  width: calc(100% - 5px);
  margin: 5px;
  background-color: transparent;
}
.stats table .stat-button {
  text-align: left;
  font-size: 20px;
}
.stats table td {
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.stats table .input {
  width: 50%;
}
.stats table .health-value {
  width: 45%;
}
.stats table .health-max {
  width: 45%;
}
.stats table .stat-button:hover {
  outline: none;
  text-shadow: 0 0 5px black;
}
.morpg.sheet.monster {
  background-color: black;
}
.morpg.sheet.monster .toggle-editor {
  display: none;
}
.morpg.sheet.monster .active {
  display: initial;
}
.morpg.sheet.monster .delete-edit-actions {
  align-self: center;
}
.morpg.sheet.monster .range-button {
  text-align: center;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  width: 50px;
}
.morpg.sheet.monster .range-button:hover {
  outline: none;
  box-shadow: 0 0 5px black;
}
